.container {
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-size: 24px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:first-of-type {
  background-color: green;
  color: white;
}

button:last-of-type {
  background-color: red;
  color: white;
}
